@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* override 'shadow' */
  --shadow-md: 0px 4px 3px rgba(0, 0, 0, 0.07), 0px 2px 2px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0px 4px 3px rgba(0, 0, 0, 0.1), 0px 10px 8px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0px 25px 25px rgba(0, 0, 0, 0.15);

  /* override 'gray' color */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;

  --color-graydark-50: #111827;
  --color-graydark-100: #1f2937;
  --color-graydark-200: #374151;
  --color-graydark-300: #4b5563;
  --color-graydark-400: #6b7280;
  --color-graydark-500: #9ca3af;
  --color-graydark-600: #d1d5db;
  --color-graydark-700: #e5e7eb;
  --color-graydark-800: #f3f4f6;
  --color-graydark-900: #f9fafb;
  --color-graydark-950: #ffffff;
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.shadow-md {
  --tw-shadow: var(--shadow-md);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: var(--shadow-lg);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-2xl {
  --tw-shadow: var(--shadow-2xl);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

